<html>
<head>
     <title> StepStone - <%=@mvp.upcase %></title>
<style>

</style>
</head>
<body>

<div class="row">
  <div class="large-2 columns sidebar">
<ul class="menu vertical">
    <li><a href="/<%= @mvp %>/">Overview</a></li>
    <li><a href="/<%= @mvp %>/show">Purchases</a></li>
  <li><a href="#">Something else</a></li>
  <li><a href="#">Exit</a></li>
</ul>
  </div>
  <div class="large-8 columns main end">
  <h3> <%=@mvp.upcase %></h3>

<p>
this is sinatra, talking to you from far far away!
</p>
<p>
    Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
</p>
</table>

  </div>
</div>
</body>
</html>
